<!-- template vars
        title
        img_loc
        model_name
        tag
        date
-->
<div>
<p style="text-align: center"><img style="display: block; margin-left: auto; margin-right: auto;" src="{{img_loc}}" width="515" height="auto" /></p>
</div>
<div>
<h1 style="text-align: center; font-family: helvetica; font-size: 24px;">{{title}}</h1>
</div>
<div>
<p style="text-align: center; font-family: helvetica; font-size: 16px;">Config: {{config}}<br />Tag: {{tag}}</p>
</div>
<div>
<p>&nbsp;</p>
</div>
<div>
<p>&nbsp;</p>
</div>
<div>
<p>&nbsp;</p>
</div>
<div>
<p>&nbsp;</p>
</div>
<div>
<p>&nbsp;</p>
</div>
<div>
<p>&nbsp;</p>
</div>
<div>
<p>&nbsp;</p>
</div>
<div>
<p style="text-align: center; font-family: helvetica; font-size: 16px;">{{date}}</p>
</div>